<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Response Mock Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

<form action="/save" method="post">
    <table>
        <tr>
            <td>
                ID:
            </td>
            <td>
                <textarea name="id" th:field="*{mock.id}" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <textarea name="name" cols="180" th:field="*{mock.name}"/>
            </td>
        </tr>
        <tr>
            <td>
                Target:
            </td>
            <td>
                <textarea name="target" cols="180" th:field="*{mock.target}"/>
            </td>
        </tr>
        <tr>
            <td>
                Enabled:
            </td>
            <td>
                <input name="enabled" type="checkbox" th:checked="${mock != null and mock.enabled}"/>
            </td>
        </tr>
        <tr>
            <td>
                Mock response:
            </td>
            <td>
                <textarea name="response" cols="180" rows="50" th:field="*{mock.response}" />
            </td>
        </tr>
        <tr>
            <td>
                Milliseconds delay:
            </td>
            <td>
                <input name="delayMilliseconds" th:value="${mock.delayMilliseconds}"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save"/>
</form>

</body>

</html>